{% extends "base.html" %}

{% block title %}{{ _('edit_profile_title') }}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/edit-profile.css') }}" />
{% endblock %}

{% block content %}
  <h2>{{ _('edit_profile_heading') }}</h2>
  <form id="edit-profile-form" novalidate method="POST" action="{{ url_for('users.edit_profile') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="username">{{ _('edit_profile_username_label') }}</label>
      {{ form.username(id="username", class="form-control") }}
      {% if form.username.errors %}
        <div class="error-message">{{ form.username.errors[0] }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="email">{{ _('edit_profile_email_label') }}</label>
      {{ form.email(id="email", class="form-control") }}
      {% if form.email.errors %}
        <div class="error-message">{{ form.email.errors[0] }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="lab_url">{{ _('edit_profile_lab_url_label') }}</label>
      {{ form.lab_url(id="lab_url", class="form-control") }}
      {% if form.lab_url.errors %}
        <div class="error-message">{{ form.lab_url.errors[0] }}</div>
      {% endif %}
    </div>

    <button type="submit" class="btn"><i class="fas fa-save"></i> {{ _('edit_profile_submit') }}</button>
  </form>
{% endblock %}